@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import '@heroui/styles';

@custom-variant dark (&:is(.dark *));

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
  html {
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}

/* Restrain LevaPanel height to ensure internal scrolling */
.Leva-container > div {
  position: relative !important;
  max-height: calc(100vh - 8rem) !important;
}

/* Style Leva buttons to have yellow background and grayish text */
.Leva-container button {
  background-color: #fbbf24 !important;
  color: #27272a !important;
}
.Leva-container button:hover {
  background-color: #f59e0b !important;
}

.electron-drag {
  -webkit-app-region: drag;
}

.electron-no-drag {
  -webkit-app-region: no-drag;
}
